$sm: 480px;
$md: 768px;
$lg: 1024px;


//font sise

$fontSize-xs: 0.65rem;
$fontSize-sm: 0.75rem;
$fontSize-md: 1rem;
$fontSize-lg: 1.8rem;
$fontSize-xl: 1.25rem;
$fontSize-2xl: 1.5rem;
$fontSize-3xl: 1.875rem;
$fontSize-4xl: 2.25rem;
$fontSize-5xl: 3rem;
$fontSize-6xl: 3.75rem;
$fontSize-7xl: 4.5rem;
$fontSize-8xl: 6rem;
$fontSize-9xl: 8rem;

//colors

$gray100: #F5f5f5;
$gray101: #b8b8d0;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;

$green100 : #a7b622;
$green500: #78c850;


$orange100: #f08030;

$blue100: #6890ef;

$yellow100: #F8D030;
$yellow101: #b8a038;
$yellow900: #a8a878;

$lightBlue100: #98d8d8;

$red100: #c03028;

$brown100: #c08552;
$brown200: #dab49d;
$brown300: #895737;
$brown400: #5e3023;
$brown500: #705848;

$violet100: #a890f0;
$violet200: #a040a0;
$violet300 : #713bf2;
$violet901: #705898;


$pink100: #efb5bb;
$pink900: #f85888;