@import '/styles/globals/variables.module.scss';

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bodyDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.badgeBase {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
    text-transform: uppercase;
    font-size: $fontSize-xs;
    border-radius: 0.125rem;
    font-weight: bold;
}

.title {
    text-transform: capitalize;
}