:root {
  --primary: #1e3a8a;
  --secondary: #319795;
  --tertiary: #fca5a5;
  --ghost-green: #065f46;
  --ghost-indigo: #d9dde8;
  --text-color: #0f172a;
  --background-color: #f1f5f9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:  serif , -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}