@import '/styles/globavariables.scss';

.containerGrid {
    display: grid;
    grid-template-rows: auto, repeat(2, 1fr);
    gap: 2rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @media (min-width: #{$md}) {
        grid-template-columns: repeat(2, 1fr);
    }
}