.container-Grid {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    justify-content: center;
    gap: 1rem;
}

@media all and (max-width: 499px) {
    .container-Grid {
        grid-template-columns: repeat(1, 10rem);
    }

}

@media all and (min-width: 500px) and (max-width: 1999px) {
    .container-Grid {
        grid-template-columns: repeat(2, 15rem);
    }

}

@media all and (min-width: 1200px) {
    .container-Grid {
        grid-template-columns: repeat(3, 25rem);
    }

}